# Cloudflare D1
# Required for drizzle-kit local migrations
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_DATABASE_ID=
CLOUDFLARE_D1_TOKEN=

# Better Auth
BETTER_AUTH_SECRET=generate-a-long-random-string
BETTER_AUTH_URL=http://localhost:5173

# Vite
VITE_BETTER_AUTH_URL=http://localhost:5173
